.curriculum {
    width: 1300px;
    height: 1000px;
    display: flex;
    justify-content: center;
    /* background-color: azure; */
}

.curtable{
    width: 300px;
    height: 1000px;
    margin: 10px;
    /* background-color: brown;
    border: 1px solid black; */
}

.grade {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    background-color: darkseagreen;
}

.subjectlist {
    width: 300px;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 90px 90px;
    /* background-color: aquamarine; */
}

.subject {
    background-color: transparent;
    color: #3498db;
    border: 2px solid #3498db;
    padding: 10px 16px;
    border-radius: 6px;
    width: 130px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
}

.subjectI {
    width: 130px;
    height: 70px;
    margin: 10px;
    padding: 10px 16px;
    visibility: hidden;

}

.subjectE {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    padding: 10px 16px;
    border-radius: 6px;
    width: 130px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
}

.subjectC {
    background-color: cadetblue;
    color: white;
    border: 2px solid cadetblue;
    padding: 10px 16px;
    border-radius: 6px;
    width: 130px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
}